<%= render 'common/header' %>
<%= stylesheet_link_tag 'categoria', media: 'all' %>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<%= render 'common/navbar' %>

<!-- Page Content -->
<div class="container">
    <div class="row">
  
        <%= render 'common/sidebar' %>

        <div class="col-xs-9">

            <!-- Title -->
            <div class="well well-sm">

            <% if (defined?(@id_subcategoria)).nil? %>
                <a href="/categoria/<%= @id_categoria %>"><strong id="titulo-categoria" data-id-categoria=<%= @id_categoria %>></strong></a>
            <% else %>    
                <a href="/categoria/<%= @id_categoria %>"><strong id="titulo-categoria" data-id-categoria=<%= @id_categoria %>></strong></a> > <a href="/categoria/<%= @id_categoria %>/<%= @id_categoria %>"><strong id="titulo-subcategoria" data-id-subcategoria=<%= @id_subcategoria %>></strong></a>
            <% end %>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>Lista</a> 
                <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grelha</a>
            </div>
            </div>

            <!--<div class="row">
            <div class="col-lg-12">
              <h3 id="titulo-categoria" data-id-categoria=<%= @id_categoria %>></h3>
            </div>
            </div>-->
            <!-- /.row -->

            <!-- Page Features -->
            <div id="artigos-container" class="row list-group">
            </div>
            <!--<div id="artigos-container" class="row text-center">


            </div>-->
            <!-- /.row -->

            <hr>

        </div>
    </div>
</div>
<!-- /.container -->



<%= render 'common/footer' %>
<%= javascript_include_tag "categoria" %>