    <%= render 'common/header' %>
    <%= stylesheet_link_tag 'product', media: 'all' %>
</head>

<body>

    <%= render 'common/navbar' %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
          
            <%= render 'common/sidebar' %>

            <div class="col-xs-9">

                <div class="row">
                    <div class="col-md-9">
                        <div class="thumbnail">
                            <% if @imgs.nil? %>
                            <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                            <% else %>
                            <div id="carousel-product-imgs" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                  <% @imgs.each_with_index do |img, index| %>
                                  <li data-target="#carousel-product-imgs" data-slide-to=<%=index%> <% if index == 0 %> class="active"> <% end %></li>
                                  <% end %>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                  <% @imgs.each_with_index do |img, index| %>
                                  <div <% if index == 0 %> class="product-img-div item active" <% else %> class="product-img-div item" <% end %> data-img-id=<%= img.id %> >
                                    <%= image_tag img.image, :class => 'img-responsive' %>
                                </div>
                                <% end %>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-product-imgs" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-product-imgs" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <% end %>
                        <% if current_user.try(:admin?) %>
                        <div id="img-btns">
                            <br>
                            <button class="product-img btn btn-warning" data-id-product=<%= @product_id %> name="img" type="button"> Escolher imagem </button>
                            <input type="file" id="product-img-input" data-id-product=<%= @product_id %> style="display:none">
                            <button id="product-del-img" class="btn btn-danger" name="img" type="button"> Apagar esta imagem </button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#descricao-modal">Modificar descrição</button>
                        </div>
                        <% end %>
                        <div class="caption-full">
                            <div id="botao-loading"></div>
                            <h4 class="pull-right" id="prod-price">€</h4>
                            <h4 id="prod-title" data-id-product=<%= @product_id %>></h4>
                            
                            <h5 id="prod-marca">Marca:</h5>
                            <h6>
                                Categoria: <a class="inline" href="#" id="prod-categoria"><em></em></a>
                                <a class="inline" href="#" id="prod-subcategoria"><em></em></a>
                            </h6>

                            <div class="container-fluid">
                                <div class="row">
                                    <a class="btn btn-success pull-right add-to-cart-btn-product-view" data-id-artigo=<%= @product_id %>><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Adicionar</a>

                                    <div class="input-group spinner pull-right quantidade-product-view-container">
                                        <input id="quantidade-product-view" type="text" class="form-control" value="1">
                                        <div class="input-group-btn-vertical">
                                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="description">
                                <% if !@desc.nil? %>
                                <%= @desc.description %>
                                <% end %>
                            </div>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><%= @reviews.count %> reviews</p>
                            <p>
                              <% (1..@avg.to_i).each do |i| %>
                                <span class="glyphicon glyphicon-star"></span>
                              <% end %>
                              <% (@avg.to_i..4).each do |i| %>
                                <span class="glyphicon glyphicon-star-empty"></span>
                              <% end %>
                              <%= @avg.to_i %> estrelas
                            </p>
                        </div>
                        </div>

                        <div class="well">
                            <div class="text-right">
                            <% if !@review_exists %>
                                <a id="leave-review-btn" class="btn btn-success">Deixar uma review</a>
                            <% else %>
                                <a class="btn btn-success" disabled>Já deixou uma review</a>
                            <% end %>
                            </div>

                            <hr>
                            <% if !@reviews.blank? %>
                                <% @reviews.each do |review| %>
                                    <%= render 'review/review', :review => review %>
                                    <hr>
                                <% end %>
                                <%= will_paginate @reviews %>
                            <% end %>
                        </div>
                    </div>
                </div>

                <% if current_user.try(:admin?) %>
                    <div id="descricao-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modificar descrição</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="description-input">    
                                            <% if !@desc.nil? %>
                                            <%= @desc.description %>
                                            <% end %>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn-submit-description" type="button" class="btn btn-warning" data-dismiss="modal">Submeter descrição</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>

                <% if !@review_exists %>
                <div id="review-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Criar review</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" id="review-input"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input id="rating-system" type="number" class="rating" min="1" max="5" step="1">
                                <button id="btn-submit-review" type="button" class="btn btn-warning" data-dismiss="modal">Submeter review</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            
            </div><!-- col right -->
        </div> <!-- row -->
    </div> <!-- container -->

<%= render 'common/footer' %>
<%= javascript_include_tag "product" %>
<%= javascript_include_tag "product_description" %>
<%= javascript_include_tag "review" %>