<%= render 'common/header' %>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
  <%= render 'common/navbar_admin' %>

  <!-- Page Content -->
  <div class="container">

   <h4 id="encomenda-id" data-id-encomenda=<%= @encomenda_id %>></h4>
   <h1>Encomenda</h1>
   <h4 id="title">ID: </h2>
   <h4 id="entidade">Entidade: </h4>
   <h4 id="data">Data: </h4>
   <h4 id="factura">Factura: </h4>
   <h3>Compras:</h3>

    <div class="panel panel-default">

        <!-- Table -->
        <table class="table" id="compras">
          <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço Unidade</th>
            <th>Desconto</th>
            <th>Quantidade</th>
            <th>Líquido</th>
            <th>Ilíquido</th>
          </thead>

        </table>
      </div>
      	<h3 id="total" style="float:right">Total Líquido: </h3>

    </div>


   
   

  </div>


  <hr>



</div>
<!-- /.container -->



<%= render 'common/footer' %>
<%= javascript_include_tag "encomenda" %>
