

<%= render 'common/header' %>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

	<div class="row">

    <div class="col-lg-12">
      <h2> <%= current_user.nome %> </h2>
      <p> Morada: <%= current_user.morada %> </p>
      <p> NIF: <%= current_user.nif %> </p>
      <p> Email: <%= current_user.email %> </p>
	  Entidade <p id="user-id"><%= current_user.entidade %></p>

	  <%= link_to "Editar informação", edit_user_registration_path %>


    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3> As minhas encomendas </h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div id="compras-container" class="row text-center">

    <!--<div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://placehold.it/800x500" alt="">
        <div class="caption">
          <h3>Feature Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div> -->

  </div>


</div>

</body>

<%= render 'common/footer' %>


<%= javascript_include_tag 'profiles' %>
