<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
	<h1>Carrinho de compras</h1>
	<form id="form-carrinho" method="POST" action="/carrinho">
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

		<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#produtos" aria-controls="produtos" role="tab" data-toggle="tab">Produtos</a></li>
		    <li role="presentation"><a href="#metEnvio" aria-controls="metEnvio" role="tab" data-toggle="tab">Método de envio</a></li>
		    <li role="presentation"><a href="#metPag" aria-controls="metPag" role="tab" data-toggle="tab">Método de pagamento</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane fade in active" id="produtos">
		      <table class="table table-hover table-striped">
		        <thead>
		        <tr>
		          <th class="col-md-1">Cód.</th>
		          <th class="col-md-5">Produto</th>
		          <th class="col-md-2">Quant.</th>
		          <th class="col-md-2">Preço unit.</th>
		          <th class="col-md-2">Preço total</th>
		        </tr>
		        <thead>
		        <tbody>
		          <% if !(defined? session[:carrinho]) || session[:carrinho].nil? || session[:carrinho].length == 0 %>
		            <tr>
		              <td></td>
		              <td><i>Carrinho vazio...</i></td>
		              <td></td>
		              <td></td>
		              <td></td>
		            </tr>
		          <% else %>
		            <% session[:carrinho].each do |id, quantidade| %>
		              <tr id="artigo-<%= id.dup.gsub /\./, '_' %>"> <!-- pontos nos ids não funcionam... -->
		                <td class="codigo-artigo-cart"><%=id%></td>
		                <td class="descricao"></td>
		                <td class="quantidade">
		                	<div class="input-group spinner">
			                    <input type="text" class="form-control" value="<%=quantidade%>">
			                    <div class="input-group-btn-vertical">
			                      <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
			                      <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
			                    </div>
		                  	</div>
		                </td>
		                <td class="pvp"></td>
		                <td class="total"></td>
		                <%= tag(:input, :type => "hidden", :name => 'artigo[]', :value => id) %>
		                <%= tag(:input, :type => "hidden", :name => 'quantidade[]', :value => quantidade) %>
		                <%= tag(:input, :type => "hidden", :name => 'preco[]') %>
		              </tr>

		            <% end %>
		          <% end %>
			        <tr>
			          <th class="col-md-1"></th>
			          <th class="col-md-6"></th>
			          <th class="col-md-1"></th>
			          <th class="col-md-2">Total</th>
			          <th id="total-carrinho"></th>
			        </tr>
		        </tbody>
		      </table>
		    </div>

		    <div role="tabpanel" class="tab-pane fade" id="metEnvio">
			    <div class="form-group">
			    	<div class="radio">
					    <%= radio_button_tag(:metodo_de_envio,:recolha_na_loja, true) %>
				    	<%= label_tag(:metodo_de_envio_recolha_na_loja,'Recolha na loja') %>
			    	</div>
			    	<div class="radio">
					    <%= radio_button_tag(:metodo_de_envio,:ctt) %>
					    <%= label_tag(:metodo_de_envio_ctt,'CTT') %>
				    </div>
				    <div class="radio">
					    <%= radio_button_tag(:metodo_de_envio,:transportadora) %>
					    <%= label_tag(:metodo_de_envio_transportadora,'Transportadora') %>
				    </div>
			    </div>
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="metPag">
			    <div class="form-group">
			    	<div class="radio">
					    <%= radio_button_tag(:metodo_de_pagamento,:multibanco, true) %>
				    	<%= label_tag(:metodo_de_pagamento_multibanco,'Multibanco') %>
			    	</div>
			    	<div class="radio">
					    <%= radio_button_tag(:metodo_de_pagamento,:cartao_credito, true) %>
				    	<%= label_tag(:metodo_de_pagamento_cartao_credito,'Cartão') %>
			    	</div>
			    	<div class="radio">
					    <%= radio_button_tag(:metodo_de_pagamento,:cobranca) %>
					    <%= label_tag(:metodo_de_pagamento_cobranca,'À cobrança') %>
				    </div>
				    <div class="radio">
					    <%= radio_button_tag(:metodo_de_pagamento,:paypal) %>
					    <%= label_tag(:metodo_de_pagamento_paypal,'PayPal') %>
				    </div>
			    </div>
		    </div>
		  </div>

		</div>

		<input id="clear-cart" type="" class="btn btn-danger" value="Limpar Carrinho"/>
		<% if (defined? session[:carrinho]) && !session[:carrinho].nil? && session[:carrinho].length != 0 %>
			<input id="finazalizar-btn" type="submit" class="btn btn-success pull-right" value="Finalizar encomenda" disabled="disabled" />
		<% end %>
	</form>
</div>

<%= render 'common/footer' %>
<%= javascript_include_tag "cart" %>